<mat-toolbar class="color">
    <a 
    routerLink="/"
     mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
     >
      <mat-icon>videocam</mat-icon>
    </a>
    <span>YourVideo</span>
    <span class="example-spacer"></span>
    <a
    routerLink="/upload"
    mat-icon-button
     class="example-icon
      favorite-icon"
       aria-label="Example icon-button with heart icon">
        
      <mat-icon>
        file_upload
        </mat-icon>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="button-menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="this.loginIn"
        (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Выйти</span>
        </button>
        <button mat-menu-item *ngIf="this.loginIn"
        (click)="goToChannel()">
          <mat-icon>web</mat-icon>
          <span>Мой канал</span>
        </button>
        <button mat-menu-item *ngIf="this.loginIn"
        routerLink="/user/change-video">
          <mat-icon>create</mat-icon>
          <span>Творчерская студия</span>
        </button>
        <button mat-menu-item *ngIf="!this.loginIn"
        routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Войти</span>
        </button>
        <button mat-menu-item *ngIf="!this.loginIn"
        routerLink="/register">
          <mat-icon>app_registration</mat-icon>
          <span>Регистрация</span>
        </button>
      </mat-menu>
    
  </mat-toolbar>