.example-spacer {
    flex: 1 1 auto;
    /* color: #fff; */
  }

.example-icon{
    margin-bottom: 1px;
    margin-right: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    
}
.color{
  background-color: black;
}
.button-menu{
  background-color: none;
  background: none;
}