<mat-card class="color"> 
    <mat-action-list>

        <div mat-subheader>
            Меню
        </div>
            <button routerLink="/user/change-video" mat-list-item>
                <mat-icon mat-list-icon>smart_display</mat-icon>
                Управление видео
            </button>
            <button routerLink="/dashboard/message" mat-list-item >
                
                <mat-icon mat-list-icon>chat</mat-icon>
                Комментарии
            </button>
            <button routerLink="/dashboard/widgets" mat-list-item >
                
                <mat-icon mat-list-icon>crop_original</mat-icon>
                Настройки профиля
            </button>
            <button routerLink="/dashboard/profile" mat-list-item >
                
                <mat-icon mat-list-icon>settings</mat-icon>
                Безопасность
            </button>
        

    </mat-action-list>
</mat-card>